body {
    background: lightgrey;
}

td {
    width: 10px;
    height: 10px;
    /*border: 1px solid black;*/
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: small;

}

td:hover {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

.empty {
    background-color: white;
}

.tree {
    background-image: url("https://cdn.pixabay.com/photo/2015/08/13/00/30/tree-886793_960_720.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#container {
    position: relative;
}
#container canvas, #overlay {
    position: absolute;
}
canvas {
    border: 1px solid black;
}
