body {
    background: lightgrey;
    overflow: hidden;
    position: absolute;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
}

.empty {
    background-color: white;
}

.tree {
    background-image: url("https://cdn.pixabay.com/photo/2015/08/13/00/30/tree-886793_960_720.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

line {
    stroke: red;
    stroke-width: 5px;
}

.items {
    height: 1080px;
    width: 1920px;
}

svg rect {
    background: transparent;
    color: red;
    fill: transparent;
    stroke: darkmagenta;
    pointer-events: all;
    /*transform: rotate(45deg);*/

}

svg rect:hover {
    fill: aqua;
    background: chartreuse;
}

svg line:hover {
    stroke: deeppink;
}
